<div class="row">
    <div class="col-md-6" ui-sref="main.artist">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div>
                    <h1><span class="fa fa-user"></span>Search an artist</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary" ui-sref="main.title">
            <div class="panel-body">
                <div>
                    <h1><span class="fa fa-music"></span>Search a Song</h1>
                </div>
            </div>
        </div>
    </div>
</div>